In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('Downloads/survey.xlsx')

In [3]:
pos = df['indexxx'].value_counts().index
pos = pos.values.astype(int)
pos = np.sort(list(pos))
squarer = lambda t: t-2
squarer = np.vectorize(squarer)
pos = squarer(pos)
df1 = df.iloc[pos]
#df1.to_excel('survey_filtered.xlsx')

In [4]:
trash_ls = ['Ethnicity - Australia & NZ Only',
       'Ethnicity - Brazil only', 'Ethnicity - Estonia only',
       'Ethnicity - Latvia only', 'Ethnicity - Lithuania only',
       'Ethnicity - New Zealand only', 'Ethnicity - South Africa Only',
       'Ethnicity - UK only', 'Ethnicity - US & Canada only',
       'Sweden - Country of birth', 'Ethnicity - Malaysia/Singapore', 'Occupation level (SEL) - Argentina', 
         'Gender of children', 'Pets', 'Education - General',
       'Education level - Austria', 'Education level - Denmark',
       'Education level - Hungary', 'Education level - Lithuania',
       'Education level - Netherlands', 'Education level - Pakistan',
       'Education level - Poland', 'Education level (SEL) - Argentina',
       'Education level - Brazil', 'Education level (SEL) - Chile',
       'Education level - India', 'Education level - Mexico',
       'Education level (SEL) - Peru','Socio Economic Level - Argentina', 'Socio Economic Level - Brazil',
       'Socio Economic Level - Chile', 'Socio Economic Level - Ecuador',
       'Socio Economic Level - Mexico', 'Socio Economic Level - Peru',
       'Socio Economic Level - Portugal', 'Socio Economic Level - UK',
       'Energy Bill (SEL) - Colombia', 'Socio Economic Level - India',
       'Socio Economic Level - Turkey', 'Social Class - France',
       'Socio Economic Level - Pakistan', 'Socio Economic Level - Philippines',
       'Social Class - Spain', 'indexxx', 'GUID', 'pink', 'Country', "Status"  ]

In [5]:
df1 = df1.drop(columns=trash_ls)
df1.index = np.arange(len(df1))

In [16]:
df1 = pd.read_excel('Downloads/survey_superfiltered_upd.xlsx', index_col=0)
df1.index = np.arange(len(df1))

In [40]:
np.sum(df1['Household Income Classification'].value_counts()), len(df1)

(290, 447)

In [30]:
df1.columns

Index(['RespondentUrlCode', 'Gender', 'Age', 'TargetGroupName',
       'Access to car', 'Make of car/cars', 'Car manufactured year',
       'car purchase year', 'Automotive decision maker', 'Occupation',
       'Primary role in organization', 'Company size', 'Industry sector',
       'Field of expertise', 'Decision Making Authority', 'Marital Status',
       'Accommodation', 'Household Size', 'Number of children',
       'Ages of children', 'Beverage consumption', 'Tobacco - Do you smoke',
       'Bank clients (Russia only)', 'Personal Income Classification',
       'Household Income Classification'],
      dtype='object')

In [42]:
trash_ls1 = ['Automotive decision maker', 'Primary role in organization',
             'Company size', 'Decision Making Authority', 'Bank clients (Russia only)',
            'Personal Income Classification', 'Household Income Classification']
df1 = df1.drop(columns=trash_ls1)
df1.index = np.arange(len(df1))

In [47]:
df1['Age'][1]

44

In [48]:
for i in range(len(df1)):
    try:
        if df1['Age'][i]<24:
        #print(df1['Age'][i])
           df1['Age'][i]=3 #zoomer
        if df1['Age'][i] <40 and df1['Age'][i] >=24:
            df1['Age'][i] = 2 #millenial
        if df1['Age'][i] <56 and df1['Age'][i] >=40:
            df1['Age'][i] = 1 #X
        if df1['Age'][i] >=56:
            df1['Age'][i]= 0 #boomer
        if df1['Gender'][i] == 'Female':
            df1['Gender'][i] = 1
        if df1['Gender'][i] == 'Male':
            df1['Gender'][i] = 2
    except:
        print(i, df1['Age'][i])

C:\Users\moskvoretskiyvv\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\moskvoretskiyvv\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\moskvoretskiyvv\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\moskvoretskiyvv\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [49]:
df1['Age'].value_counts()

2    285
1    162
Name: Age, dtype: int64

In [61]:
df1

,RespondentUrlCode,Gender,Age,TargetGroupName,Access to car,Make of car/cars,Car manufactured year,car purchase year,Occupation,Industry sector,Field of expertise,Marital Status,Accommodation,Household Size,Number of children,Ages of children,Beverage consumption,Tobacco - Do you smoke
0,d23a13d4-5f8a-ec55-17c4-2411db8ad123,1,2,Large cities,"No, I donâ€™t have access to a car/cars",I don't own/lease a car,I don't own/lease a car,I don't own/lease a car,NaN,NaN,Customer Service/Client Service,Domestic partnership / Living with partner,Rented apartment,3,One,2005,Coffee;Regular soda;Domestic beer,NaN
1,f5373ade-3fcb-c553-1ace-0d1cc83bc119,2,1,Large cities,I own a car/cars,Volkswagen,2017,2019,Full-time work,Manufacturing,Operations,Married,Owned apartment,5,Three,2003;2005;2008,Coffee;Tea;Bottled water still;Juice;Domestic ...,"Yes, I smoke"
2,e6b6c135-8047-3ea6-9b25-f69d797b6ee9,1,1,Large cities,"No, I donâ€™t have access to a car/cars",I don't own/lease a car,I don't own/lease a car,I don't own/lease a car,Parental leave,Accounting,Other,Married,Living with my parents,6,Two,2011,Juice;None of these,"No, I donâ€™t smoke"
3,25f68461-d03a-7bf3-db71-b3dddb46de9a,2,2,Large cities,"No, I donâ€™t have access to a car/cars",NaN,NaN,NaN,Part-time work,Communications/Information,Technology Development Hardware (not only IT),Single / Never married,Owned apartment,2,None,I don't have children,Coffee;Tea;Bottled water still;Bottled water s...,"Yes, I smoke"
4,8c36478c-e1b2-b81d-1b9c-701d714a0f57,1,2,Large cities,I own a car/cars,Ford;Hyundai,2015,2015,Full-time work,Construction,Operations,Married,Owned apartment,4,Two,2008;2014,Coffee;Tea;Regular soda;Diet soda;Bottled wate...,"Yes, I smoke"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442,a4a32e4b-bd07-31d9-af5c-19881c076190,1,2,Moscow,I have access to a car/cars,I don't own/lease a car,NaN,I don't own/lease a car,Full-time work,NaN,NaN,Married,Owned apartment,3,None,I don't have children,Imported beer;Red wine;Milk;Whiskey/Scotch/Bou...,NaN
443,8b23b4a2-3ae4-ab32-2fb5-8308a9f4e275,1,2,Moscow,I own a car/cars,"Lada, AvtoVaz, Zhiguli",1980s,2007,Parental leave,I don't work,I don't work,Married,Owned house,4,Two,2014;2015,Champagne;Coffee;Tea,"No, I have just quit"
444,19e2fe25-4b84-e1b0-ee32-c9c9009853e9,2,2,Moscow,I own a car/cars,Audi;BMW,2019,2019,Full-time work,Engineering,Engineering,Married,Owned house,4,Two,2006;2013,Domestic beer;Imported beer;Red wine;White win...,"Yes, I smoke"
445,7c1cc150-36aa-dec4-1047-f63744b62a8c,2,1,Moscow,"No, I donâ€™t have access to a car/cars",I don't own/lease a car,I don't own/lease a car,I don't own/lease a car,Part-time work,Manufacturing,Other,Married,Rented apartment,3,None,2000,Domestic beer;Imported beer;Red wine;White win...,"Yes, I smoke"
446,1359e13e-bde2-fe89-5529-d672c8fe2dfa,1,2,Moscow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Single / Never married,Owned apartment,2,None,I don't have children,Imported beer;Red wine;Champagne;Tequila;Spark...,"No, I donâ€™t smoke"

In [60]:
df1['Make of car/cars'].value_counts().index[0]

"I don't own/lease a car"

In [24]:
print('hello'+'-')

hello-

In [12]:
import json
import pandas as pd

In [18]:
data = pd.read_json('Downloads/credentials.json', orient = 'index')

In [17]:
json.load('Downloads/credentials.json')

AttributeError: 'str' object has no attribute 'read'

In [16]:
with open('Downloads/credentials.json') as f:
    data = json.load(f)
print (data)

{'installed': {'client_id': '901639305152-qeb323kh4atcndvi4p1aj5bpvbd9jnj6.apps.googleusercontent.com', 'project_id': 'quickstart-1603107659956', 'auth_uri': 'https://accounts.google.com/o/oauth2/auth', 'token_uri': 'https://oauth2.googleapis.com/token', 'auth_provider_x509_cert_url': 'https://www.googleapis.com/oauth2/v1/certs', 'client_secret': 'G49yVOoBE5YnMlNJwt-IhpQz', 'redirect_uris': ['urn:ietf:wg:oauth:2.0:oob', 'http://localhost']}}

In [19]:
data

,client_id,project_id,auth_uri,token_uri,auth_provider_x509_cert_url,client_secret,redirect_uris
installed,901639305152-qeb323kh4atcndvi4p1aj5bpvbd9jnj6....,quickstart-1603107659956,https://accounts.google.com/o/oauth2/auth,https://oauth2.googleapis.com/token,https://www.googleapis.com/oauth2/v1/certs,G49yVOoBE5YnMlNJwt-IhpQz,"[urn:ietf:wg:oauth:2.0:oob, http://localhost]"

In [20]:
!pip install --upgrade google-api-python-client google-auth-httplib2 google-auth-oauthlib

Collecting google-api-python-client
  Downloading google_api_python_client-1.12.3-py2.py3-none-any.whl (61 kB)
Collecting google-auth-httplib2
  Downloading google_auth_httplib2-0.0.4-py2.py3-none-any.whl (9.1 kB)
Collecting google-auth-oauthlib
  Downloading google_auth_oauthlib-0.4.1-py2.py3-none-any.whl (18 kB)
Collecting google-api-core<2dev,>=1.21.0
  Downloading google_api_core-1.22.4-py2.py3-none-any.whl (91 kB)
Requirement already satisfied, skipping upgrade: six<2dev,>=1.13.0 in c:\users\moskvoretskiyvv\anaconda3\lib\site-packages (from google-api-python-client) (1.14.0)
Collecting google-auth>=1.16.0
  Downloading google_auth-1.22.1-py2.py3-none-any.whl (114 kB)
Collecting uritemplate<4dev,>=3.0.0
  Downloading uritemplate-3.0.1-py2.py3-none-any.whl (15 kB)
Collecting httplib2<1dev,>=0.15.0
  Downloading httplib2-0.18.1-py3-none-any.whl (95 kB)
Collecting requests-oauthlib>=0.7.0
  Downloading requests_oauthlib-1.3.0-py2.py3-none-any.whl (23 kB)
Requirement already satisfied, skipping upgrade: requests<3.0.0dev,>=2.18.0 in c:\users\moskvoretskiyvv\anaconda3\lib\site-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client) (2.22.0)
Collecting googleapis-common-protos<2.0dev,>=1.6.0
  Downloading googleapis_common_protos-1.52.0-py2.py3-none-any.whl (100 kB)
Requirement already satisfied, skipping upgrade: setuptools>=34.0.0 in c:\users\moskvoretskiyvv\anaconda3\lib\site-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client) (45.2.0.post20200210)
Collecting protobuf>=3.12.0
  Downloading protobuf-3.13.0-cp37-cp37m-win_amd64.whl (1.0 MB)
Requirement already satisfied, skipping upgrade: pytz in c:\users\moskvoretskiyvv\anaconda3\lib\site-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client) (2019.3)
Collecting cachetools<5.0,>=2.0.0
  Downloading cachetools-4.1.1-py3-none-any.whl (10 kB)
Collecting rsa<5,>=3.1.4; python_version >= "3.5"
  Downloading rsa-4.6-py3-none-any.whl (47 kB)
Collecting pyasn1-modules>=0.2.1
  Downloading pyasn1_modules-0.2.8-py2.py3-none-any.whl (155 kB)
Collecting oauthlib>=3.0.0
  Downloading oauthlib-3.1.0-py2.py3-none-any.whl (147 kB)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in c:\users\moskvoretskiyvv\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2dev,>=1.21.0->google-api-python-client) (2.8)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in c:\users\moskvoretskiyvv\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2dev,>=1.21.0->google-api-python-client) (3.0.4)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\moskvoretskiyvv\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2dev,>=1.21.0->google-api-python-client) (1.25.8)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in c:\users\moskvoretskiyvv\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2dev,>=1.21.0->google-api-python-client) (2019.11.28)
Collecting pyasn1>=0.1.3
  Downloading pyasn1-0.4.8-py2.py3-none-any.whl (77 kB)
Installing collected packages: cachetools, pyasn1, rsa, pyasn1-modules, google-auth, httplib2, google-auth-httplib2, protobuf, googleapis-common-protos, google-api-core, uritemplate, google-api-python-client, oauthlib, requests-oauthlib, google-auth-oauthlib
Successfully installed cachetools-4.1.1 google-api-core-1.22.4 google-api-python-client-1.12.3 google-auth-1.22.1 google-auth-httplib2-0.0.4 google-auth-oauthlib-0.4.1 googleapis-common-protos-1.52.0 httplib2-0.18.1 oauthlib-3.1.0 protobuf-3.13.0 pyasn1-0.4.8 pyasn1-modules-0.2.8 requests-oauthlib-1.3.0 rsa-4.6 uritemplate-3.0.1

In [21]:
from googleapiclient.discovery import build
def pull_sheet_data(SCOPES,SPREADSHEET_ID,RANGE_NAME):
    creds = gsheet_api_check(SCOPES)
    service = build('sheets', 'v4', credentials=creds)
    sheet = service.spreadsheets()
    result = sheet.values().get(
        spreadsheetId=SPREADSHEET_ID,
        range=RANGE_NAME).execute()
    values = result.get('values', [])
    
    if not values:
        print('No data found.')
    else:
        rows = sheet.values().get(spreadsheetId=SPREADSHEET_ID,
                                  range=RANGE_NAME).execute()
        data = rows.get('values')
        print("COMPLETE: Data copied")
        return data